.c1{
    width: 100%;
    height: 60%;
    margin-top:0px;
}

.doctor{
    width:60%;
    height: 100%;
}



.fa-arrow-right{
    color:white;
}
.readmore{
    margin-top: 50px;
    margin-bottom: auto;
    text-align: center;
    vertical-align:bottom;
    
}

.boxdonor{
    font:"20px Montserrat, sans-serif";
}

.usericon{
    width: 70%;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.boxbgroups{
    margin-left: 0px;
    margin-right: auto;
    text-align:left;
}

.grid1{
    margin-top: 150px;
}