<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thank you</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="success.css" rel="stylesheet">
 
</head>
<body>
    

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                   
        </button>
        <a class="navbar-brand" href="index.html">Student Registration System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li width: 100px, text-align:center ><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="about.html"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
        <li><a href="contact.html"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="row">
  <div class="col-sm-12">
    <div class="block1">
      <img src="tick.png" id="tick">
      <br>
      <h2>Thank you for your response.</h2>
      <br>
      <hr>
      <br>
      <p>Your data is saved successfully!!!!</p>
    </div>
    
  </div>
    
</div>
        


</body>

<div class="footer">
  <p>Designed By Kaustubh</p> 
</div>
</html>
</html>
